.hero {
    align-items: center;
    display: flex;
    height: 300px;
    text-align: center;
    position: relative;
    z-index: 2;

    h1 {
        background: rgb(84, 232, 234);
        background: linear-gradient(0deg, rgba(84, 232, 234, 1) 0%, rgba(84, 232, 234, 1) 25%, rgba(21, 151, 225, 1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
        font-size: 60px;
        font-family: 'Audiowide', cursive;

        @media (min-width: 970px) {
            font-size: 120px;

        }
    }

    .subtitle * {
        color: white;
    }
}