nav {
    background: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.0));
    position: fixed;
    z-index: 8;
    height: 55px;
    width: 100%;

    button {
        left: 10px;
        top: 10px;
    }
}